{
    "plugins": [
      ["module:react-native-dotenv", {
        "moduleName": "@env",
        "path": ".env",
        "blocklist": null,
        "safe": false,
        "allowUndefined": false,
        "verbose": false,
        "allowlist": [
            "API_URL",
            "API_TOKEN"
          ]
      }]
    ]
  }